{{ define "title" }}add post{{ end }}
{{ define "content" }}
<form method="post" action="/posts/add" id="add-post-form">
    <label>Person:
        <select name="personId">
            {{ range .People }}
            <option value="{{ .Id }}">{{ .Name }}</option>
            {{ end }}
        </select>
    </label>
    <label>Entry Date: 
        <input type="date" name="entryDate" 
            value="{{ if .Post }}{{ .Post.EntryDate | formatDateForInput }}{{ end }}">
    </label>
    <input type="hidden" name="quill-content" id="quill-content" value="{{ .Post.Content }}">
    <div id="editor-container" class="editor"></div>
    <input type="hidden" name="id" value="{{ .Post.Id }}">
    <br>
    <button type="submit">Submit</button>
    {{ if .Post.Id }}
    <a id="delete-button" href="/posts/delete/{{ .Post.Id }}" class="button">Delete</a>
    {{ end }}
</form>
{{ end }}

{{ define "css" }}
<link href="https://cdn.jsdelivr.net/npm/quill@2.0.3/dist/quill.snow.css" rel="stylesheet" />
<link href="/static/css/posts.css" rel="stylesheet" />
{{ end }}

{{ define "js" }}
<script src="https://cdn.jsdelivr.net/npm/quill@2.0.3/dist/quill.js"></script>
<script src="/static/js/posts.js"></script>
{{ end }}