{{ define "title" }}posts{{ end }}
{{ define "content" }}
    {{ range .Posts }}
        <div class="post-card">
            <h2>Post Thing</h2>
            {{ .Content | displayHtml }}
            <div class="post-meta">
                <span>{{ .Id }} - {{ .PersonId }} - {{ .EntryDate | formatDate }}</span>
                {{ if $.isAdmin }}
                    <a href="/posts/edit/{{ .Id }}" class="edit-button">Edit</a>
                {{ end }}
            </div>
        </div>
    {{ end }}
    </div>
    {{ if .isAdmin }}
        <a class="button" href="/posts/add">Add Post</a>
    {{ end }}
{{ end }}

{{ define "css" }}
<link href="/static/css/posts.css" rel="stylesheet" />
{{ end }}