
{{ define "title" }}create family{{ end }}
{{ define "content" }}
    <form method="post" action="/family/create">
        <div class="form-group">
            <label for="name">Family Name:</label>
            <input type="text" name="name" value="{{ .Family.Name }}">
        </div>
        <div class="form-group">
            <label for="name">Description:</label>
            <input type="text" name="description" value="{{ .Family.Description }}">
        </div>
        <input type="hidden" name="id" value="{{ .Family.Id }}">
        <button type="submit">Submit</button>
    </form>
    {{ if .Family.Id }}
        <form class="upload-form" action="/family/upload/{{ .Family.Id }}" method="POST" enctype="multipart/form-data">
            <label for="profilePic">Upload Picture:</label>
            <input type="file" name="profilePic" id="profilePic" accept="image/*" required>
            <button type="submit" class="btn-upload">Upload</button>
            <a href="/family/upload/delete/{{ .Family.Id }}" class="btn-delete">Delete</a>
        </form>
    {{ end }}
{{ end }}