{{ define "content" }}
  <h1>Manage Families</h1>

  <table>
    <thead>
      <tr>
        <th>Family ID</th>
        <th>Name</th>
        <th>Image ID</th>
        <th>Owners</th>
        <th>Visibility</th>
      </tr>
    </thead>
    <tbody>
      {{range .Families }}
      <tr>
        <td>{{.Id}}</td>
        <td>{{.Name}}</td>
        <td>{{.ImageId}}</td>
        <td>{{.OwningUsers}}</td>
        <td>{{.Visibility | formatVisibility }}</td>
      </tr>
      {{end}}
    </tbody>
  </table>

{{ end }}