<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/base.css">
    <script src="/static/js/ext/htmx.min.js"></script>
    <title>{{ block "title" . }}Default Title{{ end }}</title>
</head>
<body>
    <header>
        <div class="header-container">
            <h1>Family Website</h1>
            <nav>
                <a href="/">Home</a>
                <a href="/children">Children</a>
                <a href="/posts">Posts</a>
                <a href="/milestones">Milestones</a>
                <a href="/height">Heights</a>
                <a href="/weight">Weights</a>
            </nav>
        </div>
    </header>
    <main class="container">
        {{ block "content" . }}Default Content{{ end }}
    </main>
    <footer>
        <div class="footer-container">
            <p>&copy; 2024 Family Website</p>
            <div class="footer-links">
            {{ if .UserId }}
                <a href="/profile">Account {{ .Username }}</a>
                {{ if .isAdmin }}
                <a href="/admin">Admin Dashboard</a>
                {{ end }}
            {{ else }}
                <a href="/login">Admin Login</a>
            {{ end }}
            </div>
        </div>
    </footer>
    {{ block "css" . }}{{ end }}
    {{ block "js" . }}{{ end }}
</body>
</html>
