{{ define "title"}}Login{{ end }}
{{ define "content" }}

<h2>Login</h2>
<form method="POST" id="loginForm" action="/login">
    <label for="email">Email:</label>
    <input type="email" id="email" name="email" required><br>
    <label for="password">Password:</label>
    <input type="password" id="password" required><br>
    <input type="hidden" id="hashed-password" name="password"><br>
    <button type="submit">Login</button>
</form>

<a href="/register" style="font-size: small;">Register</a>
<br>
<a id="forgotLink" href="/forgot" style="font-size: small;">Forgot Password?</a>

<div style="margin-top: 15px;">
    <a href="/login/google" style="font-size: small;">Login with Google</a>
</div>
{{ end }}

{{ define "js" }}
<script src="/static/js/hash.js"></script>
<script>
  const emailInput = document.getElementById("email");
  const forgotLink = document.getElementById("forgotLink");

  emailInput.addEventListener("input", function() {
      const email = encodeURIComponent(this.value);
      forgotLink.href = "/forgot?email=" + email;
  });

  PasswordHasher.registerFormWithPassword("loginForm", "password", "hashed-password")
</script>
{{ end }}