{{ define "title"}}height{{ end }}
{{ define "content"}}
    <h1>Height Comparison by Age</h1>
    <canvas id="heightChart" width="400" height="200"></canvas>

    <div>
        <label>Person:
            <select id="personId" name="personId">
                {{ range .People }}
                    <option value="{{ .Id }}">{{ .Name }}</option>
                {{ end }}
            </select>
        </label>
        <button onclick="addPerson()">Add</button>
        <button class="button-secondary" onclick="removePerson()">Remove</button>
    </div>

    <table id="comparisonTable" border="1">
        <thead>
            <tr id="headerRow">
            </tr>
        </thead>
        <tbody>
            <!-- Data rows dynamically added here -->
        </tbody>
    </table>
    {{ if .isAdmin }}
        <a href="/height/add" class="button">Add Data Point</a>
    {{ end }}
{{ end }}

{{ define "js" }}
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/hammerjs@2.0.8"></script>
  <script src="/static/js/ext/chartjs-plugin-zoom.min.js"></script>
  <script src="/static/js/measurement-chart.js"></script>
  <script src="/static/js/measurement-table.js"></script>
  <script>
    LineChart.setApiEndpoint("/api/height/")
    LineChart.setDataFormatter((data) => data.map(d => ({
                    x: parseFloat(d.Age),
                    y: d.Inches,
                    date: d.Date,
        })))
    LineChart.setXTitle("Age (years)")
    LineChart.setYTitle("Height (inches)")
    LineChart.setXTooltipCallback((tooltipItems) => `Age: ${tooltipItems[0].parsed.x.toFixed(1)} years`)
    LineChart.setYTooltipCallback((tooltipItem) => {
        const dataPoint = tooltipItem.raw;
        const date = new Date(dataPoint.date);
        const options = { year: 'numeric', month: 'long', day: 'numeric' };
        return [
            `Height: ${dataPoint.y}"`,
            `Recorded on: ${date.toLocaleDateString(undefined, options)}`
        ];
      })

    LineChart.initializeChart("heightChart")

    MeasurementTable.setApiEndpoint('/api/height/table')
    MeasurementTable.setTableId('comparisonTable')
    MeasurementTable.setHeaderId('headerRow')

    async function addPerson() {
        const personId = document.getElementById('personId').value;
        LineChart.addPerson(personId)
        MeasurementTable.addPerson(personId)
        MeasurementTable.updateTable()
    }

    function removePerson() {
        const personId = document.getElementById('personId').value.trim();
        LineChart.removePerson(personId)
        MeasurementTable.removePerson(personId)
        MeasurementTable.updateTable()
    }
  </script>
{{ end }}

{{ define "css" }}
<link rel="stylesheet" href="/static/css/heatmap.css">
{{ end }}