{{ define "title" }}height{{ end }}
{{ define "content" }}
    <h2>Height pp pop</h2>
    <div class="tabs" hx-on:htmx:after-request="removeActiveClass(); addActiveClass(event.target)">
        {{ range $name, $entries := . }}
            <button hx-get="/height/static/tab/{{ $name }}" hx-target="#tab-content" class="tab">{{ $name }}</button>
        {{ end }}
    </div>
    <div id="tab-content" class="tab-content">
        <p>Select a tab to see details.</p>
    </div>
{{ end }}

{{ define "tabContent" }}
<div>
    <h3>Entries</h3>
    <table>
        <thead>
            <tr>
                <th>Date</th>
                <th>Height</th>
                <th>Weight</th>
            </tr>
        </thead>
        <tbody id="entries-table">
            {{ range . }}
                {{ block "tableRow" . }}{{ end }}
            {{ else }}
                <tr>
                    <td colspan="3">No entries found for this tab.</td>
                </tr>
            {{ end }}
        </tbody>
    </table>
</div>
{{ end }}

{{ define "tableRow" }}
<tr>
    <td>{{ .Date }}</td>
    <td>{{ .Height }}</td>
    <td>{{ .Weight }}</td>
</tr>
{{ end }}

{{ define "css" }}
    <link rel="stylesheet" href="/static/css/height.css">
{{ end }}
{{ define "js" }}
    <script>
        function removeActiveClass() {
            document.querySelectorAll('.tab').forEach(tab => tab.classList.remove('active'));
        }

        function addActiveClass(target) {
            if (target.classList.contains('tab')) {
                target.classList.add('active');
            }
        }
    </script>
{{ end }}
