{{ define "title" }}posts{{ end }}
{{ define "content" }}
    {{ range . }}
        <div class="post-card">
            <h2>Post Thing</h2>
            {{ .Content | displayHtml }}
            <div class="post-meta">
                <span>{{ .Id }} - {{ .PersonId }} - {{ .EntryDate | formatDate }}</span>
                <a href="/posts/edit/{{ .Id }}" class="edit-button">Edit</a>
            </div>
        </div>
    {{ end }}
    </div>
    <a class="button" href="/posts/add">Add Post</a>
{{ end }}

{{ define "css" }}
<link href="/static/css/posts.css" rel="stylesheet" />
{{ end }}