{{ define "title" }}milestone title{{ end }}
{{ define "content" }}
<p>milestone content</p>
{{ range .Milestones }}
    <div class="post-card">
        <p>Type: {{ .Type | formatMilestoneType }}</p>
        {{ if .TextValue }}
            <p>TextValue: {{ .TextValue }}</p>
        {{ else }}
            <p>Numeric: {{ .NumericValue }} {{ .Unit }}</p>
        {{ end }}
        {{ if .Notes }}
            <p>{{ .Notes }}</p>
        {{ end }}
        <div class="post-meta">
            <span>{{ .Id }} - {{ .Date | formatDate }} - Age: {{ .Age }}</span>
        </div>
    </div>
{{ end }}
<a class="button" href="/milestones/add">Add Milestone</a>
{{ end }}

{{ define "css" }}
<link href="/static/css/posts.css" rel="stylesheet" />
{{ end }}