{{ define "title" }}it's home{{ end }}
{{ define "content" }}
  <div class="container family-dashboard">
    <h2>Family Dashboard</h2>
    <p>Welcome {{ .Family.Name }} family! Here’s an overview of your family.</p>

    <div class="info-cards">
      <div class="info-card">
        <h3>Members</h3>
        <p>{{ len .Family.OwningUsers }}</p>
      </div>
      <div class="info-card">
        <h3>People</h3>
        <p>{{ len .People }}</p>
      </div>
      <div class="info-card">
        <h3>Milestones</h3>
        <p>10</p>
      </div>
    </div>

    <div class="actions">
      <a class="cta-button" href="/">Add Person</a>
      <a class="cta-button" href="/">Add Milestone</a>
      <a class="cta-button" href="/">Invite Members</a>
    </div>

    <h3>Recent Milestones</h3>
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Birthday</th>
          <th>Age</th>
          <th>Type</th>
        </tr>
      </thead>
      <tbody>
        {{ range .People }}
          <tr>
            <td>{{ .Name }}</td>
            <td>{{ .Birthday | formatDate }}</td>
            <td>{{ .Age }}</td>
            <td>{{ . | displayType }}</td>
          </tr>
        {{ end }}
      </tbody>
    </table>
  </div>
{{ end }}

{{ define "css" }}
  <style>
    .family-dashboard {
      max-width: 900px;
      margin: 40px auto;
    }

    .family-dashboard h2 {
      margin-bottom: 10px;
      font-size: 1.8em;
      color: var(--primary-color);
    }

    .family-dashboard p {
      margin-bottom: 20px;
      font-size: 1.1em;
    }

    .actions {
      margin-bottom: 30px;
    }
    .actions .cta-button {
      margin-right: 10px;
      margin-bottom: 10px;
    }

  </style>
{{ end }}