{{ define "title" }}family list{{ end }}
{{ define "content" }}
  <div class="container family-dashboard">
    <h2>Families</h2>
    <p>Welcome {{ .Username }}! Here’s your families.</p>
    <table>
      <thead>
        <tr>
          <th>Family ID</th>
          <th>Name</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        {{range .Families }}
        <tr>
          <td>{{.Id}}</td>
          <td>{{.Name}}</td>
          {{ if eq .Id $.PrimaryFamilyId}}
            <td>Fav</td>
          {{ else }}
            <td><a class="button" href="/family/favorite/{{.Id}}">Favorite</a></td>
          {{ end }}
        </tr>
        {{end}}
      </tbody>
    </table>
  </div>
{{ end }}